# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
python_env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary
*.tmp

# Notebook output
.ipynb_checkpoints/
